.appTitle {
  text-align: center;
}

.tagSearcher {
  text-align: center;
  margin: 10px;
}

.message {
  text-align: center;
  font-family: 'helvetica', sans-serif;
  font-size: 1em;
}

.message span{
  font-style: italic;
}

.flex-container {
  width: 80%;
  padding: 0;
  margin: 0 auto;
  list-style: none;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
}

.flex-item {
  height: 150px;
  width: 150px;
  margin: 5px;
  text-align: center;
}

.flex-item.ng-enter {
  -webkit-transition: all linear 0.5s;
  transition: all linear 0.5s;
  margin-left: 9000px;
}

.flex-item.ng-enter.ng-enter-active {
  margin-left: 5px;
}

.flex-item.ng-enter-stagger {
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}


